{
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "JQuery": true
  },
  "extends": [
    "prettier",
    "plugin:import/errors",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "@typhonjs-fvtt/eslint-config-foundry.js"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "import"
  ],
  "rules": {
    "prettier/prettier": "error",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": [
      "error",
      {
        "builtinGlobals": true,
        "hoist": "all",
        "allow": [
          "event"
        ]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ],
        "extensions": [
          ".js",
          ".ts",
          ".json"
        ]
      },
      "eslint-import-resolver-typescript": true,
      "typescript": {
        "alwaysTryTypes": true
      }
    },
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts"
      ]
    }
  }
}
