@import "colors";

div[role=table] {
  border-left: solid 1px $borderColor;
  flex: 1;

  div[role=rowgroup] {
    text-align: center;
    display: flex;
    border-bottom: solid 1px $borderColor;
  }

  div[role=cell], div[role=columnheader], div[role=rowheader] {
    border-right: solid 1px $borderColor;
    padding: 0.5em 0.5em;
    flex: 1;
  }

  div[role=columnheader] {
    background: $headerColor;
  }

  div[role=rowgroup]:first-of-type {
    border-top: solid 1px $borderColor;
  }

  div[role=rowgroup]:nth-child(odd) {
    background: $oddBackgroundColor;
  }
}

.mythic.character.sheet {
  .characteristic {
    width: 10%;

    .characteristic-header {
      background: $headerColor;
    }
  }

  .calculated-characteristics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 10px 5px;

    .mythic-characteristics {
      flex: 1;
      min-width: 155px;

      .mythic-characteristic {
        padding: 0;

        input {
          height: 31px;
          border-radius: 0;
        }
      }
    }

    .movement {
      flex: 2 1;
      min-width: 280px;

      div {
        min-width: 40px;
      }
    }

    .carrying {
      flex: 1;
      min-width: 126px;

      div {
        min-width: 42px;
      }
    }
  }

  .things {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 5px;
    margin-bottom: 20px;

    input {
      height: 31px;
      border-radius: 0;
    }

    div[role=rowheader] {
      min-width: 61px;
    }

    div[role=cell] {
      min-width: 20px;
    }

    .wounds, .fatigue, .luck, .support-points {
      min-width: 90px;
    }

    .shields, .armor {
      flex: 2;
      min-width: 180px;
    }
  }

  .sheet-tabs {
    background: $headerColor;
  }

  .skills {
    flex: 1;
    min-width: 335px;
    margin-right: 5px;
    .skill-characteristic {
      flex: 1;
      min-width: 60px;

      select {
        width: 45px;
      }
    }

    .skill-advancement {
      flex: 2;
      min-width: 120px;
    }
  }

  .weapons {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }

  .equipment {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }

  .abilities {
    .ability {
      margin: 10px 0;
    }
  }

  .experience {
    .add-exp-expense {
      margin: 0;
      border-radius: 0;
      border: 1px solid $borderColor;
      border-top: 0;
    }

    .remove-exp-expense {
      height: 100%;
      margin: 0;
      border: 0;
    }
  }
  .experience-summary {
    input {
      border: none;
      background: none;
    }

    input::placeholder {
      color: #b3b3b3;
    }

    input:focus {
      box-shadow: none;
      border: none;
    }

    input:hover {
      box-shadow: none;
      border: none;
    }

    //button {
    //  height: ;
    //}
  }
}

.character-sheet {
  .sheet-header {
    margin-bottom: 20px;
    flex-direction: column !important;

    .charname {
      width: 100%;

      input {
        text-align: center;

        background: none;
        border: 0;
        border-bottom: white 1px solid;
      }
    }
  }

  .header-fields {
    width: 100%;

    .profile-img {
      margin: 10px;
    }

    .header-field-group {
      display: flex;
      margin: 5px 0;

      label {
        line-height: 25px;
        padding-right: 5px;
      }

      select {
        flex: 1;
        color: white;
      }

      input {
        flex: 1;
        color: white;
        background: none;
        border: none !important;
        border-bottom: white 1px solid !important;
        border-radius: 0 !important;
      }
    }
  }

  .center-text {
    width: 100%;
    text-align: center;
  }

  .educations {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .languages {
    display: flex;
    flex-direction: column;
  }

  h3 {
    width: 100%;
    text-align: center;
  }

  .characteristics {
    display: flex;
    flex-direction: row;
    flex: 0;
    margin-bottom: 20px;
    text-align: center;
  }
}
