.character-sheet {
    .sheet-header {
        flex-direction: column !important;
    }
    .header-fields {
        display: flex;
        flex-direction: row;
    }

    .educations {
        display: flex;
        flex-direction: column;
    }

    .languages {
        display: flex;
        flex-direction: column;
    }
}
