<div class="mythic-dialog">
  <select id="characteristic">
    {{#select characteristic}}
    <option value="wfr">WFR</option>
    <option value="wfm">WFM</option>
    {{/select}}
  </select>
  <input id="bonus" type="number" value="{{bonus}}" placeholder="Bonus"/>
</div>
