<form style="flex: 0" class="{{cssClass}} weapon-sheet flexcol" autocomplete="off">
  <header class="sheet-header">
    <div class="flexrow">
      <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100" width="100"/>
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
      </h1>
    </div>
  </header>

  <div class="flexrow">
    <input name="data.tags" value="{{data.tags}}" placeholder="Tags"/>
    <input name="data.alias" value="{{data.alias}}" placeholder="Weapon Alias"/>
  </div>

  <div>
    <h3>Damage</h3>
    <input name="data.damageRoll" value="{{data.damageRoll}}" placeholder="Damage Roll"/>
    <input name="data.baseDamage" value="{{data.baseDamage}}" placeholder="Base Damage"/>
    <input name="data.piercing" value="{{data.piercing}}" placeholder="Piercing"/>
  </div>
  <div>
    <h3>Firing</h3>
    <div class="flexrow">
      <input name="data.magazin" value="{{data.magazin}}" placeholder="Magazin Size"/>
      <input name="data.ammunition" value="{{data.ammunition}}" placeholder="Ammunition Type"/>
      <input name="data.reload" value="{{data.reload}}" placeholder="Reload Speed"/>
    </div>
  </div>
  <div>
    <h3>Firing Modes</h3>
    <div class="flexrow">
      {{#each data.fireModes as |fireMode key|}}
      <select name="data.fireModes.{{key}}.mode" data-type="String">
        {{#select fireMode.mode}}
        <option value="automatic">Automatic</option>
        <option value="burst">Burst</option>
        <option value="drawback">Drawback</option>
        <option value="flamethrowers">Flamethrowers and Defoliants</option>
        <option value="flintlock">Flintlock</option>
        <option value="pumpaction">Pump Action</option>
        <option value="semiautomatic">Semi-Automatic</option>
        <option value="sustained">Sustained</option>
        <option value="charge">Charge</option>
        {{/select}}
      </select>
      <input name="data.fireModes.{{key}}.value" value="{{fireMode.value}}" placeholder="Rate of Fire"/>
      <button class="remove-firing-mode" data-key="{{key}}">X</button>
      {{/each}}
    </div>
    <button class="add-firing-mode">Add Firing Mode</button>
  </div>
  <div>
    <h3>Other</h3>
    <input name="data.weaponType" value="{{data.weaponType}}" placeholder="Weapon Type"/>
    <input name="data.range" value="{{data.range}}" placeholder="Range"/>
    <input name="data.cost" value="{{data.cost}}" placeholder="Cost"/>
    <input name="data.weight" value="{{data.weight}}" placeholder="weight"/>
  </div>
  <div>
    <h3>Description</h3>
    <textarea name="data.description" placeholder="Description" rows="5"
              style="resize: none;">{{data.description}}</textarea>
  </div>
</form>
